body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

.auth-buttons {
    float: right;
}

#tituloRestaurant{
    font-family: Copperplate;
}

#main-content {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    width: 50%;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #555;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 8px;
    color: #555;
}

form input,
form button {
    margin-bottom: 16px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input {
    background-color: #f9f9f9;
}

/* Estilo para el formulario de login y registro */
.modal-content form {
    max-width: 400px;
    margin: 0 auto;
}

/* Estilo para el fondo oscuro al abrir el modal */
.modal-content::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: none;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

#main-content {
    padding: 20px;
}

.hero-section {
    text-align: center;
    padding: 20px 0;
    background-color: rgb(57, 128, 141);
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.hero-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #45a049;
}

.about-section {
    margin-top: 60px;
    text-align: center;
}

.about-section h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.about-section p {
    font-size: 1.1em;
    color: #555;
}

.gallery-section {
    margin-top: 60px;
    text-align: center;
}

.gallery-item {
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    max-width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.reservation-section {
    margin-top: 60px;
    text-align: center;
}

.reservation-section h3,
.reservation-section p {
    color: #333;
    margin-bottom: 20px;
}

.reservation-section form {
    max-width: 400px;
    margin: 0 auto;
}

.reservation-section label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.reservation-section input,
.reservation-section button {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.reservation-section input {
    background-color: #f9f9f9;
}

.reservation-section button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.reservation-section button:hover {
    background-color: #45a049;
}

.gallery-item{
    
    display: inline-flex;
    width: 800px;
    height: 600px;
    border-radius: 10px;
    
}